<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="/">
               Brand
            </a>
        </li>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
          <a href="/groupline/friend_list">FriendList</a>
        </li>
        <li>
            <a href="/">GroupList</a>
        </li>
        <% if user_signed_in? %>
          <% unless current_user.groups.nil? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Group<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">내가 속한 그룹</li>
                <!-- 이부분에 각 유저가 속한 그룹 name을 반복문으로 뽑아주고 a 링크를 해당 /groupline/group_sns/p.id에 걸면 될 것 같음-->
                <% current_user.groups.each do |p| %>
                <li><a href="/groupline/group_sns/<%= p.id %>"><%= p.group_name %></a></li>
                <% end %>
                <li class="dropdown-header">내 그룹 관리</li>
                <% current_user.groups.each do |p| %>
                  <% if p.group_founder == current_user.nickname %>
                  <li><a href="/groupadmin/group_admin/<%= p.id %>"><%= p.group_name %></a></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
        <li>
            <a href="#">Callendar</a>
        </li>
    </ul>
</nav>

<script>
$(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
</script>